* {
    font-family: 'Inter Tight', sans-serif;
    font-size: medium;
    box-sizing: border-box;
}

body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2rem;
    color: lightblue;
}

.gameBoardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.cell {
    background-color: brown;
    width: 100px;
    height: 100px;
    outline: 2px solid lightblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: lightblue;
}

.cell p {
    color: brown;
    font-size: 2.5rem;
    font-weight: 800;
}