* {
    font-family: 'Inter Tight', sans-serif;
    font-size: medium;
    box-sizing: border-box;
    color: lightblue;
    margin: 0;
}

:root {
    --main: brown;
    --secondary: lightblue;
    --complementary: #2AA52A;
}

body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.header {
    text-align: center;
    width: 100%;
    padding: 25px;
    margin-top: 10px;
}

.header h1 {
    font-size: 2rem;
    color: var(--secondary);
}

.game {
    display: grid;
    grid-template-columns: 1fr 333px 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.score {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.score > p {
    font-size: 1.5rem;
}

.score > p.playerScore {
    font-size: 1.5rem;
    color: var(--complementary);
}

.playBtn,
.roundBtn {
    text-align: center;
    padding: 15px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 150px;
    color: rgb(165, 42, 42);
}

.playBtn:hover,
.roundBtn:hover {
    color: var(--secondary);
    background-color: brown;
}

.gameBoardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 333px;
    min-width: 333px;
}

.cell {
    background-color: brown;
    width: 111px;
    height: 111px;
    outline: 2px solid var(--secondary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: var(--secondary);
}

.cell p {
    color: var(--secondary);
    font-size: 2.5rem;
    font-weight: 800;
}

.cell:hover>p {
    color: brown;
}

#gameAnnouncer {
    height: 50px;
    background-color: var(--complementary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}

.announce {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

#nameModal[open] {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  background: var(--main);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 0;
  outline: 4px solid var(--complementary);
}

#nameForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#nameForm > p {
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: 600;
}

.nameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inputsSection {
    display: flex;
    gap: 15px;
}

.nameInput > label {
    color: var(--secondary);
    font-size: 2rem;
}

.nameInput > input {
    background-color: var(--secondary);
    color: var(--main);
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    width: 75%;
    border-radius: 10px;
    padding: 5px;
}

.nameInput > input:focus {
    outline: none;
}

#submit {
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 150px;
    color: rgb(165, 42, 42);
}